/* Todos os elementos da página */ 
*{ 
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: sans-serif;
    font-size: 1em;
    color: #36be48;
    margin-left: 30%;
    margin-top: 2%;
    justify-content: center;
}
nav {
    display: flex;
    flex-direction: row;
}

nav > ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 10px 0px;
}

nav > ul li a {
    padding: 10px 67px;
    color: #FFFFFF;
    text-decoration: none;
}

/* Elementos com o ID "titulo" */
#subtitle {
    font-family: sans-serif;
    color: #73b13a;
    margin-left: 10%;
    margin-bottom: 2%;
}

fieldset {
    border: 0;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #4a9930;
    border-radius: 5px;
}

input {
    font-size: 25px;
    height: 0.7em;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.group:before, .group:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.group:after {
    clear: both;
}

.field {
    margin-bottom: 1em;
}
/* Aqui está o nome, sobrenome e email */
.field label { 
    margin-bottom: 0.2em;
    color: #268519;
    display: block;
}

fieldset.group .field{
    float: left;
    margin-right: 1em;
}

#check{
    display: inline-block;
    margin-bottom: 2%;
}
#beverage1 {
    margin-top: 2%;
}

textarea {
    display: flex;
    align-items: center;
    resize: none;
    width: 35em;
    height: 4em;
}
/* Elementos de classe "field" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.field input[type="text"], .field input[type="email"], .field input[type="tel"], .field select {
    padding: 0.2em;
    border: 1px solid #4e7e4e;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
    display: block;
}
.field select option {
    padding-right: 1em;
}
/* Elemento de classe "field" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.field input:focus, .field select:focus, .field textarea:focus {
    background: #fcfcfc;
}
.button {
    font-size: 1.2em;
    background: #549d42;
    border: 0;
    margin-bottom: 1em;
    color: #030303;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    position: absolute;
    top: 130%;
    left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.button:hover {
    background: #bbffd5;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.button, select {
    cursor:pointer;
}


